@CHARSET "EUC-KR";
.input_form {
	font-size: 17px;
    margin: auto;
    width: auto;
    padding: 1em;
    border: 1px solid #CCC;
}
.auth_form{
	display: none;
	
}

form div + div {
    margin-top: 1em;
}
input, text {
    font: 1em sans-serif;
}

input, textarea {
    font: 1em sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    width:500px;
    height: 50px;
    resize: vertical;
}

.button {
    padding-left: 90px;
}

button {
    margin-right: 1em;
}
div#menubar1{
	position: absolute;
	padding: 0px;
	border:1px solid #CCC;
	display: inline-block;
	width: 200px;
	top: 10px;
}
div#menubar1  li a{
	font-size: 17px;
	padding: 0px 10px 0px 10px;
	color: #000000;
	text-decoration: none;
	border-radius:2px;
}
div#menubar1  li a:hover{
	padding: 0px 10px 0px 10px;
	background: #00BFFF;
	color: #fff;
}
div#menubar1  li b{
	font-size: 17px;
	padding: 0px 10px 0px 10px;
	background: #00BFFF;
	color: #fff;
	text-decoration: none;
	border-radius:2px;
}
 ul{ 
    list-style:none; 
 }
div#form {
    position: absolute;
    width: 770px;
    left: 210px; 
    top: 10px;
}
div#main {
    position: relative;
}
table{
	font-size:12px;
	width:700px;
}

iframe#targetFrame{ 
	width:730px; 
	height:200px; 
}